body{
    background: rgb(130, 171, 224);
}

.container{
    margin: auto;
    width: 50%;
}

.container h2{
    align-items: center;
    text-align: center;
    color: white;
}

.form{
    box-shadow: 2px 2px 2px grey;
    background: white;
}

.row1{
    display: flex;
}
.field{
    padding: 10px;
}
.survey-form div{
    padding: 5px;
}
.submit-btn{
    background-color: blue;
    color: white;
    border: none;
    width: 85px;
    height: 35px;
}
.reset-btn{
    color: white;
    background-color: red;
    border: none;
    width: 85px;
    height: 35px;
}
